@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
}

body {
  background: {
    image: url(assets/trianglify-background.svg);
    size: cover;
    attachment: fixed;
    position: top center;
    repeat: no-repeat;
  }
  font-size: 100%;
  margin: 0;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: #000;
  //transition: all .5s ease-in-out;
}

.hidden {
  display: none;
}
.delayed {
  background-color: rgba(255, 0, 0, 0.4);
}

.chooser {
  margin: 0;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
@media (min-width: 768px) {
  .chooser {
    width: 50%;
  }
}

/* Icon made by Scott de Jonge (http://www.scottdejonge.com) from http://www.flaticon.com */
.ddl.go {
  background: {
    image: url(assets/frontal4.png);
    color: rgba(255, 135, 68, .5);
    repeat: no-repeat;
    position: 98%, right;
  }
  border: 1px solid lighten(rgb(255, 135, 68), 10%);
  text-align: center;
  transition: all .5s ease-in-out;

  &:hover {
    background-color: rgba(255, 135, 68, .35);
    transition: all .5s ease-in-out;
  }
}

.go {
  padding: 5px 32px 5px 5px;
  cursor: pointer;
  font: {
    family: 'Cantarell', sans-serif;
    size: .9rem;
    weight: 700;
  }
  line-height: 1.5;
  border-radius: 0;
  -webkit-appearance: none;
  &:focus {
    outline: {
      style: none;
    }
  }
}

.ddl {
  margin-bottom: 1rem;

  select {
    min-width: 100%;
    max-width: 100%;
    background: {
      image: url(assets/arrow483.png);
      color: rgba(0, 0, 0, 0.25);
      repeat: no-repeat;
      position: 98%, right;
    }
    @extend .go;
  }
}
@media (min-width: 768px) {
  .go, .ddl select {
    font-size: 1rem;
  }
}

.bus-prediction {
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  font: {
    family: 'Cantarell', sans-serif;
    size: .9rem;
    weight: 700;
  }
}
@media (min-width: 768px) {
  .bus-prediction {
    width: 50%;
    margin: auto;
    font-size: 1rem;
  }
}

.route-prediction {
  border: 2px solid #000;
  background-color: rgba(255, 108, 192, 0.50);
}
@media (min-width: 768px) {
  .route-prediction {
    width: 50%;
  }
}